.wrapper{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background:#270F59;
    
}
.container{

    display: grid;
    max-width: 1215px;
    color: #fff;
    
    min-height: 100vh;
    padding: 0 50px;
    margin: 0 auto;
    grid-template-rows: auto 1fr auto;
}
@media (max-width: 800px) { 
    .container{
        padding: 0 10px;
        margin: 0 auto;
    }
}