.burger_container {
  display: none;
}
.burger_items{
  display: none;
}

@media (max-width: 800px) {
  .burger_icon {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 25px;
    cursor: pointer;
  }

  .burger_circle {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 2px;
  }
  .burger_container:hover .burger_circle{
    background-color: rgb(146, 146, 146);
  }
  .burger_items{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
    align-items: center;
    margin-top: 60px;
    
    background-color: rgba(179, 179, 179, 0.473);
  }
  .burger_item{
    margin-bottom: 25px;
    cursor: pointer;
  }

}
